<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XZHImageBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B695441D1D52E3E5004DD20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69544391D52E3E5004DD20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69544441D52E3E5004DD20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
